@model ProyectoW1.DBModels.Calificacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Calificacion1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calificacion1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdeventoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdeventoNavigation.Idevento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdusuarioNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdusuarioNavigation.Idusuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idcalifiacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
