@model ProyectoW1.DBModels.Evento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdtipoEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtipoEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Limite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calificacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdexpositorNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdexpositorNavigation.Idusuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdtemaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdtemaNavigation.Idtema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdubicacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdubicacionNavigation.Idubicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idevento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
