@model IEnumerable<ProyectoW1.DBModels.Contacto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoContacto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Identificador)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Idusuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcontacto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idcontacto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcontacto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
