@model IEnumerable<ProyectoW1.DBModels.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdnivelNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdtipoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentidadNavigation.Identidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnivelNavigation.Idnivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdtipoNavigation.Idtipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idusuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idusuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idusuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
